@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .svg-animate {
    stroke-dashoffset: 300;
    stroke-dasharray: 300;
    animation: dash 3s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
